body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.header__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../img/web-application-development.jpg");
  background-size: cover;
  z-index: 0;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.8;
  z-index: -10;
}

.header_upper_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
}

.personal_data_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.name__wrapper {
  padding-top: 0.4rem;
}

.name {
  color: #ffffff;
}

.header_menu_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header__photo {
  box-sizing: content-box;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background: url("../img/ava-laps.jpg");
  background-size: cover;
  border: 3px solid #ffffff;
}

.main__menu{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.main_menu_item {
  list-style-type: none;
}

.main_menu_link {
  justify-content: space-between;
  padding: 1rem;
  color: #ffffff;
  text-decoration: none;
}
.main_menu_link:hover {
  color: #b59f5b;
  text-decoration: underline;
}

.header_content_centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1; 
  margin: 0 auto;
  padding: 1rem;
}

.header__title {
  text-align: center;
  color:#ffffff;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.header_button_link {
  text-decoration: none;
}

.header__button:hover {
  color: #b59f5b;
  border: 1px solid #b59f5b;
  background-color: #9b8c5f4f;
}

.page__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.inner__section {
  margin-left: 1rem;
  margin-right: 1rem;
}

.section__paragraph {
  margin-top: 0;
}

/* SERTIFICATIONS SPECIFIC STYLES */
.sertifications_articles_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.sertificate__miniature {
  width: 200px;
  height: 150px;
  padding: 0.3rem;
}

.sertificate__preview {
  width: calc(25% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: calc(1rem/3);
}

.sertificate__preview:nth-child(n+1) {
  margin-left: 0.25rem;
}

.sertificate__preview:nth-child(n+5) {
  margin-top: 1rem;
}

.sertificate__preview:hover {
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0, 0.2);
}
red
.sertificate__title {
  text-align: center;
}

/* hide elements */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}