body {
  min-width: 340px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.header__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../img/web-application-development.jpg");
  background-size: cover;
  z-index: 0;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.8;
  z-index: -10;
}

.header_upper_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
}

.personal_data_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.name__wrapper {
  padding-top: 0.4rem;
}

.name {
  color: #ffffff;
}

.header_menu_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header__photo {
  box-sizing: content-box;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background: url("../img/ava-laps.jpg");
  background-size: cover;
  border: 3px solid #ffffff;
}

.main__menu{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.main_menu_item {
  list-style-type: none;
}

.main_menu_link {
  justify-content: space-between;
  padding: 1rem;
  color: #ffffff;
  text-decoration: none;
}
.main_menu_link:hover {
  color: #b59f5b;
  text-decoration: underline;
}

.header_content_centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1; 
  margin: 0 auto;
  padding: 1rem;
}

.header__title {
  text-align: center;
  color:#ffffff;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.header_button_link {
  text-decoration: none;
}

.header__button:hover {
  color: #b59f5b;
  font-weight: 700;
  border: 1px solid #b59f5b;
  background-color: #eebc264f;
}

.page__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.inner__section {
  margin-left: 1rem;
  margin-right: 1rem;
}

.section__paragraph {
  margin-top: 0;
}
/* PORTFOLIO SPECIFIC STYLES */
.portfolio__article {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.portfolio_item_wrapper {
  display: flex;
}
.portfolio_column_left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  margin: 0.25rem;
  padding: 0.5rem;
}
.project_description_title {
  margin: 0.25rem 0;
}
.project_skills_badge_wrapper {
  display: flex;
  flex-wrap: wrap;
}
.skill__badge{
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  background-color: #ffd967e3;
  border: 0.1rem solid #f6ca46ed;
  border-radius: 0.25rem;
}
.skill__badge:nth-child(n+1) {
  margin-left: 0.25rem;
}
.portfolio_column_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0.25rem;
  padding: 0.5rem;
}
.portfolio_project_screenshot {
  width: 100%;
}
.portfolio_project_link {
  margin-top: 0.25rem;
}

/* SERTIFICATIONS SPECIFIC STYLES */
.sertifications_articles_wrapper,
.portfolio_articles_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 1rem;
}
.sertificate__miniature {
  width: 100%;
  margin: 0.3rem;
  border: 1px solid #0C6EF4;
}

.sertificate__preview {
  width: calc(25% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: calc(1rem/3);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.sertificate__preview:nth-child(n+1) {
  margin-left: 0.25rem;
}

.sertificate__preview:nth-child(n+5) {
  margin-top: 1rem;
}

.sertificate__preview:hover {
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0, 0.2);
}

.sertificate__title,
.portfolio_item_title {
  text-align: center;
}


/* FOOTER */
.footer {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_left_column {
  width: 30%;
  padding: 0.125rem 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.footer_right_column {
  width: 70%;
  padding: 0.125rem 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.footer__span {
  color: rgb(213, 212, 212);
}
/* footer socials */
.social-bar {
  display: flex;
  flex-wrap: wrap;
}
.social-bar {
  display: flex;
  width: 100%;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.social-icon {
  list-style-type: none;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}
.social-icon:nth-child(n+2) {
  margin-left: 0.5rem;
}

.social-icon-vk {
  background-image: url("../svg/VK_white.svg");
}

.social-icon-telegram {
  background-image: url("../svg/Telegram_white.svg");
}

.social-icon-facebook {
  background-image: url("../svg/Facebook_white.svg");
}

.social-icon-whatsapp {
  background-image: url("../svg/WhatsApp_white.svg");
}

.social-icon-viber {
  background-image: url("../svg/Viber_white.svg");
}


/* Copyrights */
.copy__wrapper {
text-align: center;
}

.copy {
  text-decoration: none;
  font-style: italic;
  font-size: 0.7rem;
  color: #000000;
}

/* POPUP */
.popup__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(1);
  z-index: 9999;
}

.popup_close_btn {
  width: 18px;
  height: 18px;
  padding: 0;
  position: absolute;
  top: -26px;
  align-self: flex-end;
  appearance: none;
  -webkit-appearence: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../svg/form-x.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: right center;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 80%;
  max-height: 85vh;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0.5rem 0.5rem 0.5rem 1px rgba(0, 0, 0, 0.1);
}

.popup__content {
  width: 90%;
  display:flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

/* hide elements */
.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
/* Tablet: portrait */
@media (min-width: 641px) and (max-width: 1100px) {
  /* PORTFOLIO SPECIFIC STYLES */
  .portfolio_item_wrapper {
    flex-direction: column;
  }
  .portfolio_column_left {
    width: calc(100% - 1.5rem);
    order: 1;
  }
  .portfolio_column_right {
    width: calc(100% - 1.5rem);
    order: 0;
  }
  .popup {
    width: 100%;   
  }
  .sertificate__preview {
    width: calc(50% - 1rem);
  }  
}
/* Tablet: landscape */
@media (min-width: 641px) and (max-width: 1100px) and (orientation: landscape){
  .popup {
    width: 100%;   
  }
  .sertificate__preview {
    width: calc(25% - 1rem);
  }  
}
/* Mobile */
@media (max-width: 640px) {
  /*------------------------*/
  /* PORTFOLIO SPECIFIC STYLES */
  .portfolio_item_wrapper {
    flex-direction: column;
  }
  .portfolio_column_left {
    width: calc(100% - 1.5rem);
    order: 1;
  }
  .portfolio_column_right {
    width: calc(100% - 1.5rem);
    order: 0;
  }
  /*------------------------*/
  .sertificate__preview {
    width: 100%;
  }

  .sertificate__preview:nth-child(n+1) {
    margin-left: 0;
  }
  
  .sertificate__preview:nth-child(n+5) {
    margin-top: 0;
  }

  /* footer */
  .footer {
    flex-wrap: wrap;
  }
  .footer_left_column {
    width: 100%;
  }
  
  .footer_right_column {
    width: 100%;
  }

}
@media (max-width: 640px) and (orientation: landscape){
  .popup {
    width: 100%;   
  }

  .sertificate__preview {
    width: calc(50% - 1rem);
  }  
}