/* browsers' style reset: bull's method */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}


/* custom font connections */

@font-face {
    src: url("../fonts/OpenSans-Regular.woff");
    font-family: open-sans;
    font-weight: 400;
}

@font-face {
    src: url("../fonts/OpenSans-Bold.woff");
    font-family: open-sans;
    font-weight: 700;
}


/* HEADER */

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: relative;
    z-index: 0;
    display: block;
    min-width: 1200px;
    padding: 35px;
    min-height: 450px;
    background-image: url("../images/banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
}

.header:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -10;
}

.menu {
    display: flex;
}

.menu-list {
    display: flex;
}

.menu-list-item {
    list-style-type: none;
}

.menu-link {
    font-size: 13px;
    font-weight: 400;
    font-family: open-sans;
    text-align: center;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.menu-link:hover {
    font-size: 13px;
    font-weight: 400;
    font-family: open-sans;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: underline;
    color: #ffffff;
}

.header-logo {
    width: 245px;
}

.menu {
    margin-top: 20px;
}

.menu-list-item:nth-child(n+2) {
    margin-left: 50px;
}


/* site title */

.intro {
    display: flex;
    justify-content: center;
    width: 720px;
    margin: 120px auto;
}

.h1-title {
    display: flex;
    text-transform: uppercase;
    font-family: open-sans;
    font-size: 45px;
    line-height: 75px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}


/* INNER PAGE BODY */


/* trends */

.trends {
    display: flex;
    flex-direction: column;
    min-width: 1200px;
    margin-top: 63px;
}

.trends-wrapper {
    display: flex;
    justify-content: center;
}

.trend {
    position: relative;
    z-index: 0;
    height: 320px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.trend:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -10;
}

.trend:nth-child(1) {
    background: url("../images/trend1.jpg");
}

.trend:nth-child(2) {
    background: url("../images/trend2.jpg");
}

.trend:nth-child(3) {
    background: url("../images/trend3.jpg");
}

.trend:nth-child(4) {
    background: url("../images/trend4.jpg");
}

.trend:nth-child(n+2) {
    margin-left: 3px;
}

.trend-header {
    border: 3px solid #b59f5b;
    margin: 20px;
    padding: 35px;
}

.trend-header-title {
    margin-top: 1 rem;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    font-family: open-sans;
}

.trend-header-title:hover {
    color: #b59f5b;
}

.page-container {
    display: flex;
    max-width: 1200px;
    padding: 65px 15px 0 15px;
    margin-left: auto;
    margin-right: auto;
}


/* MAIN */

.post-list {
    display: flex;
    flex-direction: column;
    width: 795px;
}


/* post */

article.post {
    display: flex;
}

article.post:nth-child(n+2) {
    padding-top: 60px;
}

.post-image-wrapper {
    display: flex;
    padding-right: 30px;
}

.post-image {
    width: 380px;
    background-color: #eff6f1;
}

.post-card-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-top: 3px;
}

.tag-line {
    display: flex;
    flex-wrap: wrap;
}

li.tag-line {
    display: flex;
}

li.tag-line:nth-child(n+2) {
    padding-left: 20px;
}

a.tag-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    font-family: open-sans;
    color: #b59f5b;
}

a.tag-link:hover {
    text-decoration: underline;
}

.post-title {
    margin-top: 15px;
    margin-bottom: 35px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: open-sans;
    color: #0f0d0e;
}

.post-title:hover {
    color: #b59f5b;
}

.time-adress-wrapper {
    display: flex;
    flex-direction: row;
    width: 370px;
    margin-bottom: 50px;
}

.post-date {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    font-family: open-sans;
    color: #888888;
}

.author {
    display: flex;
    padding-left: 15px;
    font-size: 12px;
    font-weight: 700;
    font-family: open-sans;
    color: #000000;
}

.post-text {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    font-family: open-sans;
    color: #0f0d0e;
}

.post-text:nth-child(n+2) {
    margin-top: 20px;
}


/* SIDEBAR */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: 120px;
    width: 270px;
}

section {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    font-family: open-sans;
    color: #0f0d0e;
}

.section-header:nth-child(n+2) {
    margin-top: 60px;
}

.section-title:after {
    content: "";
    display: flex;
    width: 66px;
    height: 3px;
    margin-top: 18px;
    background-color: #b59f5b;
}


/* new posts */

section.news {
    margin-bottom: 60px;
}

article.new-post {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.new-post-image-wrapper {
    display: flex;
    height: 70px;
    margin-right: 20px;
}

img.new-post {
    display: flex;
    width: 70px;
}

.new-post-content-wrapper {
    display: flex;
    flex-direction: column;
}

.new-post-header {
    display: flex;
    flex-direction: column;
}

time.new-post {
    font-size: 12px;
    font-weight: 400;
    font-family: open-sans;
    color: #000000;
}

h3.new-post {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    font-family: open-sans;
    color: #000000;
}

h3.new-post:hover {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    font-family: open-sans;
    color: #b59f5b;
}

a.new-post {
    text-decoration: none;
}


/* search */

.search {
    display: flex;
}

.search-form {
    display: flex;
    flex-direction: row-reverse;
}

.search-field {
    display: flex;
    width: 270px;
    height: 48px;
    margin-top: 24px;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 400;
    font-family: open-sans;
    color: #000000;
    background-color: #f4f7f6;
}

.search-field:focus {
    border: 1px solid #b59f5b;
}

.search-button {
    position: absolute;
    margin-top: 24px;
    width: 48px;
    height: 48px;
    border: none;
    background-color: #b59f5b;
    background-image: url("./svg/search.svg");
    background-color: #b59f5b;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
}


/* subscribe */

.subscribe {
    display: flex;
    flex-direction: column;
}

input.subscribe {
    display: flex;
    width: 270px;
    height: 48px;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 400;
    font-family: open-sans;
    color: #000000;
    background-color: #f4f7f6;
}

button.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 48px;
    margin-top: 18px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    font-family: open-sans;
    color: #ffffff;
    background-color: #b59f5b;
}

button.subscribe:hover {
    background-color: #323232;
}


/* tags */

section.tags {
    display: flex;
    flex-direction: column;
}

ul.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li.tags {
    display: flex;
    border: 3px solid #eeeeee;
    padding: 8px 14px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
}

li.tags:first-child:hover {
    border: 3px solid #b59f5b;
}

a.tags {
    color: #0f0d0e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 40px;
    font-weight: 700;
    font-family: open-sans;
}


/* categories */

sectiion.categories {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

li.categories {
    display: flex;
    flex-direction: row;
    width: 270px;
    border-bottom: 3px solid #eeeeee;
    list-style-type: none;
}

a.categories {
    display: flex;
    text-decoration: none;
    color: #0f0d0e;
    font-size: 12px;
    line-height: 40px;
    font-weight: 700;
    font-family: open-sans;
}

a.categories-index {
    display: flex;
    text-decoration: none;
    vertical-align: super;
    margin-left: 5px;
    color: #b59f5b;
    font-size: 12px;
    line-height: 36px;
    font-weight: 700;
    font-family: open-sans;
}


/* shop */


/*todo check the .psd */

.shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1200px;
}

.shop-wrapper {
    display: flex;
    justify-content: center;
    ax-width: 100%;
    align-content: space-between;
}

.shop-item-wrapper {
    position relative1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    box-sizing: border-box;
    width: 350px;
    height: 440px;
}

.shop-item-wrapper:nth-child(n+2) {
    margin-left: 60px;
}

.shop-item-image {
    position: relative;
    height: 200px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    z-index: 10;
}

.shop-item-border {
    border: 3px solid #b59f5b;
    padding: 20px
}

.shop-item-title {
    font-size: 20px;
    margin-top: 25px;
    line-height: 24px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: open-sans;
    ft text-transform: uppercase;
}

.shop-item-text {
    height: 63px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: open-sans;
}

.shop-item-link {
    color: #b59f5b;
    text-decoration: none;
}

.shop-item-text:hover {
    height: 54px;
}

.offer {
    display: flex;
    justify-content: space-between;
}

.price-holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.price-new {
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: open-sans;
}

.price-old {
    font-size: 14px;
    text-decoration: line-through;
    color: #0f0d0e;
    font-weight: 700;
    font-family: open-sans;
}

button.shoping {
    width: 140px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: open-sans;
    text-transform: uppercase;
}


/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    padding: 65px 15px 0 15px;
    margin: 0 auto;
}

.social-bar {
    display: flex;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1170px;
    height: 83px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f4f7f6;
}

.social-icon {
    list-style-type: none;
}

.social-link {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 26px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000000;
}

.social-link:nth-child(n+2) {
    padding-left: 20px;
}

.social-icon-twitter {
    background-image: url("svg/004-twitter.svg");
}

.social-icon-pinterest {
    background-image: url("svg/001-pinterest.svg");
}

.social-icon-facebook {
    background-image: url("svg/002-facebook-logo.svg");
}

.social-icon-instagram {
    background-image: url("svg/005-instagram.svg");
}

.social-icon-tumblr {
    background-image: url("svg/003-tumblr.svg");
}


/* copyright */

.copy-wrapper {
    display: flex;
    justify-content: center;
    margin: 75px 0 40px 0;
}

.copy {
    display: flex;
    margin: 0 auto;
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    font-family: open-sans;
}

a.copy {
    text-decoration: none;
}


/* hide elements */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.header:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -10;
}

.menu {
    display: flex;
}

.menu-list {
    display: flex;
}

.menu-list-item {
    list-style-type: none;
}

.menu-link {
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    font-family: open-sans;
    text-align: center;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-link:hover {
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    font-family: open-sans;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: underline;
}

.header-logo {
    width: 245px;
}

.menu {
    margin-top: 20px;
}

.menu-list-item:nth-child(n+2) {
    margin-left: 50px;
}


/* site title */

.intro {
    display: flex;
    justify-content: center;
    width: 720px;
    margin: 120px auto;
}

.h1-title {
    text-transform: uppercase;
    color: #ffffff;
    font-family: open-sans;
    font-size: 45px;
    line-height: 75px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}


/* INNER PAGE BODY */

.page-container {
    display: flex;
    max-width: 1200px;
    padding: 65px 15px 0 15px;
    margin-left: auto;
    margin-right: auto;
}


/* MAIN */

.post-list {
    display: flex;
    flex-direction: column;
    width: 795px;
}


/* post */

article.post {
    display: flex;
}

article.post:nth-child(n+2) {
    padding-top: 60px;
}

.post-image-wrapper {
    display: flex;
    padding-right: 30px;
}

.post-image {
    width: 380px;
    background-color: #eff6f1;
}

.post-card-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-top: 3px;
}

.tag-line {
    display: flex;
    flex-wrap: wrap;
}

li.tag-line {
    display: flex;
}

li.tag-line:nth-child(n+2) {
    padding-left: 20px;
}

a.tag-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #b59f5b;
    font-weight: 700;
    font-family: open-sans;
}

.post-title {
    margin-top: 15px;
    margin-bottom: 35px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: open-sans;
}

.post-title:hover {
    color: #b59f5b;
}

.time-adress-wrapper {
    display: flex;
    flex-direction: row;
    width: 370px;
    margin-bottom: 50px;
}

.post-date {
    display: flex;
    font-size: 12px;
    color: #888888;
    font-weight: 400;
    font-family: open-sans;
}

.author {
    display: flex;
    padding-left: 15px;
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    font-family: open-sans;
}

.post-text {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: open-sans;
}

.post-text:nth-child(n+2) {
    margin-top: 20px;
}


/* SIDEBAR */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 120px;
    width: 270px;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 15px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: open-sans;
}

.section-title:nth-child(n+2) {
    margin-top: 18px;
}

.section-title:after {
    content: "";
    display: flex;
    margin: 18px;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
}

.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

.section-header {
    display: flex;
    justify-content: center;
}


/* new posts */

article.new-post {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.new-post-image-wrapper {
    display: flex;
    height: 70px;
    margin-right: 20px;
}

img.new-post {
    display: flex;
    width: 70px;
}

.new-post-content-wrapper {
    display: flex;
    flex-direction: column;
}

.new-post-header {
    display: flex;
    flex-direction: column;
}

time.new-post {
    font-size: 12px;
    color: #000000;
    font-weight: 400;
    font-family: open-sans;
}

h3.new-post {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    font-weight: 700;
    font-family: open-sans;
}

h3.new-post:hover {
    font-size: 14px;
    line-height: 18px;
    color: #b59f5b;
    font-weight: 700;
    font-family: open-sans;
}

a.new-post {
    text-decoration: none;
}


/* search */

.search {
    display: flex;
}

.search-form {
    display: flex;
    flex-direction: row-reverse;
}

.search-field {
    display: flex;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: open-sans;
    margin-top: 24px;
    width: 270px;
    height: 48px;
    background-color: #f4f7f6;
    padding-left: 20px;
}

.search-field:focus {
    border: 1px solid #b59f5b;
}

.search-button {
    margin-top: 24px;
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-color: #b59f5b;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    position: absolute;
}


/* subscribe */

.subscribe {
    display: flex;
    flex-direction: column;
}

input.subscribe {
    display: flex;
    width: 270px;
    height: 48px;
    background-color: #f4f7f6;
    display: flex;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: open-sans;
    padding-left: 20px;
}

button.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: open-sans;
    width: 270px;
    height: 48px;
    background-color: #b59f5b;
}

button.subscribe:hover {
    background-color: #323232;
}


/* tags */

.tags {
    display: flex;
    flex-wrap: wrap;
}

li.tags {
    display: flex;
    border: 3px solid #eeeeee;
    text-align: center;
    padding: 7px 14px;
    margin-left: 5px;
    margin-top: 5px;
}

li.tags:first-child:hover {
    border: 3px solid #b59f5b;
}

a.tags {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 40px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: open-sans;
}


/* categories */

.categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li.categories {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.li.categories:nth-child(n+2) {
    border-bottom: 3px solid #eeeeee;
}

a.categories {
    display: flex;
    text-decoration: none;
    font-size: 12px;
    line-height: 40px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: open-sans;
}

a.categories-index {
    display: flex;
    text-decoration: none;
    vertical-align: super;
    font-size: 12px;
    line-height: 36px;
    color: #b59f5b;
    font-weight: 700;
    font-family: open-sans;
    margin-left: 5px;
}


/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    padding: 65px 15px 0 15px;
    margin: 0 auto;
}

.social-bar {
    display: flex;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1170px;
    height: 83px;
    background-color: #f4f7f6;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 65px;
}

.social-icon {
    list-style-type: none;
}

.social-link {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000000;
    margin-left: 26px;
}

.social-link:nth-child(n+2) {
    padding-left: 20px;
}

.social-icon-twitter {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg");
}

.social-icon-pinterest {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
}

.social-icon-facebook {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg");
}

.social-icon-instagram {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg");
}

.social-icon-tumblr {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}


/* copyright */

.copy-wrapper {
    display: flex;
    justify-content: center;
    margin: 75px 0 40px 0;
}

.copy {
    display: flex;
    margin: 0 auto;
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    font-family: open-sans;
}

a.copy {
    text-decoration: none;
}


/* hide elements */

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}