
/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 150px;
  background-color: aqua;
}
.page_content_wrapper {
  display: flex;
  width: 100%;
  padding: 1rem;
}
/* main */
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  width: 25%;
  max-width: 300px;
  height: 100%;
  min-height: 100%;
  background-color: aquamarine;
}

/* CLOCK */
.clock__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#clock {
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #0000cc;
}
/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 50px;
  background-color: grey;
  color:aliceblue;
}