/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 150px;
  background-color: aqua;
  border-radius: 0.25rem;
}
.page_content_wrapper {
  display: flex;
  width: 100%;
  padding: 1rem;
}
/* main */
main {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  width: 100%;
  max-width: 300px;
  min-height: 50px;
  background-color: aquamarine;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.sidebar__header {
  text-transform: uppercase;
}

.clock_add_button {
  width: 80%;
  height: calc(25 / 1rem);
  margin-top: 1rem;
  padding: 0.5rem;
}

/* CLOCK */
.clock__title {
  font-size: 3rem;
}

.clock__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid grey;
  border-radius: 0.5rem;
}

.clock__wrapper::after {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid grey;
  border-radius: 0.5rem;
}

.clock__wrapper:nth-child(n+4) {
  margin-top: 5px;
} 

.clock__wrapper:nth-child(3n+2){
  margin-left: 5px;
  margin-right: 5px;
}

.clock {
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #0000cc;
}
/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 50px;
  background-color: grey;
  color:aliceblue;
  border-radius: 0.25rem;
}
/* popup */
.popup__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(1);
  z-index: 9999;
}
.clock_add_popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 50vw;
  height: 50vh;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0.5rem 0.5rem 0.5rem 1px rgba(0, 0, 0, 0.1);
}

#popup_close_btn {
  width: 18px;
  height: 18px;
  position: absolute;
  top: -26px;
  align-self: flex-end;
  -webkit-appearence: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../svg/form-x.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: right center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  transform: scale(0);
}