/* browsers' style reset: bull's method */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}


/* custom font connections */

@font-face {
  src: url("../fonts/OpenSans-Regular.woff");
  font-family: open-sans;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/OpenSans-Bold.woff");
  font-family: open-sans;
  font-weight: 700;
}

/* HEADER */

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: 15px;
  margin-right: 15px;
}

.header {
  position: relative;
  z-index: 0;
  padding: 35px;
  background-image: url("../images/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -10;
}
.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 25px;
  align-items: center;
  
  display: none;
}

.button-line {
  display: block;
  width: 100%;
  height: 3px;
  background-color:#eeeeee;
}

.menu {
  display: flex;
}

.menu-list {
  display: flex;
}

.menu-list-item {
  list-style-type: none;
}

.menu-link {
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  font-family: open-sans;
  text-align: center;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-link:hover {
  font-size: 13px;
  font-weight: 400;
  font-family: open-sans;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: underline;
  color: #ffffff;
}
a.header-logo {
  display: block;
  width: 180px;
}

img.header-logo {
  width: 100%;
  max-width: 245px;
}

.menu {
  margin-top: 20px;
}

.menu-list-item:nth-child(n+2) {
  margin-left: 50px;
}

/* site title */

.intro {
  max-width: 720px;
  margin: 120px auto;
}

.h1-title {
  display: flex;
  text-transform: uppercase;
  font-family: open-sans;
  font-size: 45px;
  line-height: 75px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

/* INNER PAGE BODY */
/* trends */

.trends {
  margin: 60px auto 0px;
}

.trends-wrapper {
  display: flex;
  justify-content: center;
}

.trend {
  position: relative;
  z-index: 0;
  height: 320px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.trend:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -10;
}

.trend:nth-child(1) {
  background: url("../images/trend1.jpg");
  background-size: cover;
}

.trend:nth-child(2) {
  background: url("../images/trend2.jpg");
  background-size: cover;
}

.trend:nth-child(3) {
  background: url("../images/trend3.jpg");
  background-size: cover;
}

.trend:nth-child(4) {
  background: url("../images/trend4.jpg");
  background-size: cover;
}

.trend:nth-child(n+2) {
  margin-left: 3px;
}

.trend-header {
  border: 3px solid #b59f5b;
  margin: 20px;
  padding: 35px;
  text-transform: uppercase;
}

.trend-header-title {
  margin-top: 1 rem;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  font-family: open-sans;
  text-decoration: none;
}

.trend-header-title:hover {
  color: #b59f5b;
}

/* PAGE CONTAINER */

.page-container {
  display: flex;
  max-width: 1200px;
  padding: 65px 15px 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN */

.post-list {
  flex-grow: 1;
}

/* post */

article.post {
  display: flex;
}

article.post:nth-child(n+2) {
  padding-top: 60px;
}

.post-image-wrapper {
  display: flex;
  padding-right: 30px;
}

.post-image {
  max-width: 380px;
  background-color: #eff6f1;
}

.tag-line {
  display: flex;
  flex-wrap: wrap;
}

li.tag-line {
  display: flex;
}

li.tag-line:nth-child(n+2) {
  padding-left: 20px;
}

a.tag-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  font-family: open-sans;
  color: #b59f5b;
}

a.tag-link:hover {
  text-decoration: underline;
}

.post-title {
  margin-top: 15px;
  margin-bottom: 35px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: open-sans;
  color: #0f0d0e;
}

.post-title:hover {
  color: #b59f5b;
}

.time-adress-wrapper {
  margin-bottom: 50px;
}

.post-date {
  font-size: 12px;
  font-weight: 400;
  font-family: open-sans;
  color: #888888;
}

.author {
  padding-left: 15px;
  font-size: 12px;
  font-weight: 700;
  font-family: open-sans;
  color: #000000;
}

.post-text {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: open-sans;
}

.post-text:nth-child(n+2) {
  margin-top: 20px;
}

/* SIDEBAR */

.sidebar {
  margin-left: 120px;
  max-width: 270px;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-family: open-sans;
  color: #0f0d0e;
}

.section-header:nth-child(n+2) {
  margin-top: 60px;
}

.section-title:after {
  content: "";
  display: flex;
  width: 66px;
  height: 3px;
  margin-top: 18px;
  background-color: #b59f5b;
}

/* new posts */

section.news {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  width: 100%;
}

article.new-post {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
  width: 100%;
}

.new-post-image-wrapper {
  display: flex;
  margin-right: 20px;
}

img.new-post {
  max-width: 70px;
}

time.new-post {
  font-size: 12px;
  font-weight: 400;
  font-family: open-sans;
  color: #000000;
}

h3.new-post {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  font-family: open-sans;
  color: #000000;
}

h3.new-post:hover {
  color: #b59f5b;
}

a.new-post {
  text-decoration: none;
}

/* search */

.search-form {
  display: flex;
  margin-bottom: 30px;
}
.searchfield-label {
  display: flex;
  flex: 1;
}

.search-field {
  padding-left: 20px;
  height: 48px;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  font-family: open-sans;
  color: #000000;
  border: none;
  background-color: #f4f7f6;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.search-field:focus {
  border: 1px solid #b59f5b;
}

.search-button {
  width: 48px;
  height: 48px;
  border: none;
  background-image: url("../svg/search.svg");
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.search-button:hover {
  background-color: #323232;
}
/* subscribe */

form.subscribe-form {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  flex-grow: 1;
  margin-bottom: 30px;
}
.subscribe-label {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

input.subscribe {
  width: 100%;
  max-width: 270px;
  height: 48px;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 400;
  font-family: open-sans;
  color: #000000;
  background-color: #f4f7f6;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 270px;
  height: 48px;
  margin-top: 18px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-family: open-sans;
  color: #ffffff;
  background-color: #b59f5b;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button.subscribe:hover {
  background-color: #323232;
}

/* tags */

section.tags {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

ul.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li.tags {
  display: flex;
  border: 3px solid #eeeeee;
  padding: 8px 14px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
}

li.tags:hover {
  border: 3px solid #b59f5b;
}

a.tags {
  color: #0f0d0e;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  font-family: open-sans;
}

/* categories */
li.categories {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 3px solid #eeeeee;
  list-style-type: none;
  flex-grow: 1;
  width: 100%;
}

a.categories {
  display: flex;
  text-decoration: none;
  color: #0f0d0e;
  font-size: 12px;
  line-height: 40px;
  font-weight: 700;
  font-family: open-sans;
}

a.categories-index {
  display: flex;
  text-decoration: none;
  vertical-align: super;
  margin-left: 5px;
  color: #b59f5b;
  font-size: 12px;
  line-height: 36px;
  font-weight: 700;
  font-family: open-sans;
}

/* shop */

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 25px auto 15px;
}

.shop-wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  align-content: space-between;
  margin: auto;
}
.shop-item {
  display: flex;
}

.shop-item:nth-child(2) {
  margin: 0 65px;
}

.shop-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 350px;
}

img.shop-item-picture {
  opacity: 0;
}
.shop-item-picture {
  padding: 0 20px 20px;
}

.shop-item-picture, 
.shop-item-image {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  position: relative;
  margin: 0 auto -50px;
  z-index: 10;
}

.shop-item-image {
  padding-bottom: 50px;
}

.shop-item-border {
  border: 3px solid #b59f5b;
  padding: 20px;
  flex-grow: 1;
  z-index: 10;
}

.shop-item-title {
  font-size: 20px;
  margin-top: 25px;
  line-height: 24px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: open-sans;
  text-transform: uppercase;
}

.shop-item-text {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: open-sans;
}

.shop-item-link {
  color: #b59f5b;
  text-decoration: none;
}

.offer {
  display: flex;
  justify-content: space-between;
}

.price-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price-new {
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: open-sans;
}

.price-old {
  font-size: 14px;
  text-decoration: line-through;
  color: #0f0d0e;
  font-weight: 700;
  font-family: open-sans;
}
.shopping {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  padding: 0 auto;
}

a.shopping {  
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  font-family: open-sans;
  text-transform: uppercase;
}

/* FOOTER */

.footer {
  max-width: 1200px;
  padding: 65px 15px 0 15px;
  margin: 0 auto;
}

.social-bar {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  width: 100%;
  max-width: 1170px;
  background-color: #f4f7f6;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-icon {
  list-style-type: none;
}

.social-link {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 26px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000000;
}

.social-link:nth-child(n+2) {
  padding-left: 20px;
}

.social-icon-twitter {
  background-image: url("../svg/004-twitter.svg");
}

.social-icon-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.social-icon-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.social-icon-instagram {
  background-image: url("../svg/005-instagram.svg");
}

.social-icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

/* hide elements */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}



/* copyright */

.copy-wrapper {
  display: flex;
  justify-content: center;
  margin: 75px 0 40px 0;
}

.copy {
  display: flex;
  margin: 0 auto;
  font-size: 12px;
  color: #999999;
  font-weight: 700;
  font-family: open-sans;
}

a.copy {
  text-decoration: none;
}

/* popup */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  z-index: 1000;
}

.popup-wrapper {
  position: relative;
}

.popup-form-wrapper {
  background-color: rgb(255, 255, 255);
  padding: 30px;
}

.popup-btn-close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: -26px;
  right: 0px;
  content: "";
  -webkit-appearence: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../svg/form-x.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: right center;
}

.popup-form-title {
  margin-top: 30px;
}

.popup-form-label {
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family: open-sans;
  color: #000000;
  line-height: 1.2;
  text-align: left;
}

.popup-form-select {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  background-color: #f4f7f6;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 400;
  font-family: open-sans;
  /* arrows */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-size: 0.5rem;
  background-repeat: no-repeat;
  background-position: right 7px center;
}

.popup-form-select:focus {
  border: 1px solid #b59f5b;
}

.popup-radio-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.popup-radio {
  display: flex;
}
.popup-input-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  color: transparent;
  width: 1px;
  height: 1px;
  clip: rect(1px,1px,1px,1px,)
}
.popup-radio-label {
  margin-right: 15px;
}
.popup-radio-label::before {
  content: "";
  align-self: flex-start;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
}

.popup-input-radio:checked ~ .popup-radio-label::before {
  content: "";
  align-self: flex-start;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-image: url("../svg/form-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
}

.popup-radio-label {
  display: flex;
  align-items:flex-start;
}

.popup-radio-label:nth-child(1) {
  margin-right: 20px;
}

.popup-form-label,
.popup-form-select,
.popup-input-textarea,
.pupup-button-submit {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.popup-text-label {
  display: flex;
  margin-bottom: 15px;
}

.popup-input-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 130px;
  width: 100%;
  border: none;
  resize: none;
  background-color: #f4f7f6;
  padding: 20px;
  font-size: 15px;
  color: #000000;
  font-weight: 400;
  font-family: open-sans;
}

.popup-input-textarea:focus {
  border: 1px solid #b59f5b;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.popup-button-submit {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  font-family: open-sans;
  width: 100%;
  height: 48px;
  border: none;
  background-color: #b59f5b;
}

.popup-button-submit:hover {
  background-color: rgb(50, 50, 50);
}
@media (max-width: 1199px) {

  /* POPUP */
  .popup-form-wrapper {
    width: 100%;
    max-width: 390px;
  }

  /* post */

  article.post,
  .post-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  article.post:nth-child(n+2) {
    padding-top: 35px;
  }

  .post-image-wrapper {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .post-image {
    width: 100%;
    max-width: 100%;
  }

  .post-card-content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 3px;
    flex-grow: 1;
  }

  li.tag-line {
    margin-top: 15px;
  }

  .post-title {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .time-adress-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 370px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .post-date {
    display: flex;
  }

  .author {
    display: flex;
    padding-left: 15px;
  }
  .post-text-wrapper {
    width: 100%;
  }
  .post-text {
    margin-top: 0;
  }

  .post-text-wrapper::after {
    content: "";
    display: block;
    box-sizing:border-box;
    margin-top: 25px;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
  }
  .sidebar {
    margin-left: 30px;
  }
  /* SHOP */
  section.shop {
    padding: 0 15px;
  }

  .shop-wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  /* FOOTER */
  .footer {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 641px) and (max-width: 1199px) {
  /* HEADER */
  .menu {
    display: none;
  }
  .menu-button {
    /*position: absolute;
    top: 50px;
    right: 35px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 25px;
    align-items: center;
  }
  .button-line {
    display: block;
    width: 100%;
    height: 3px;
    background-color:#eeeeee;
  }

  /* TRENDS */
  .trends-wrapper {
    flex-wrap: wrap;
  }
  .trend {
    width: calc(50% - 3px);
  }
  .trend:nth-child(n+3) {
    margin-top: 3px;
  }
  
  /* SHOP */
  .shop-item-wrapper {
    width: 100%;
    max-width: 100%;
  }
  .shop-item {
    width: calc(50% - 25px);
    max-width: calc(50% - 25px);
  }
  
  .shop-item:nth-child(2) {
    margin: 0;
  }
  .shop-item:nth-child(odd) {
    margin-right: 25px;
  }
  .shop-item:nth-child(n+3) {
    margin-top: 25px;
  }

  .shop-item-image {
    margin-bottom: -50px;
  }
  /* FOOTER */
}

@media (max-width: 640px) {
  /* POPUP */
  .popup-form-wrapper {
    width: 100%;
    max-width: 330px;
    margin: 0 15px;
  }

  .popup-btn-close {
    right: 15px;
  }

  /* HEADER */
  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    min-height: 700px;
    background-position: 33% center;
    padding: 20px;
  }
  .menu-button {
    position: absolute;
    top: 30px;
    right: 20px;
    display: flex;
  }

  .menu-container{
    width: 100%;
  }
  a.header-logo {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  img.header-logo {
    position: absolute;
    top: 100px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
  }
  .menu {
    display: none;
  }
  .h1-title {
    font-size: 26px;
    line-height: 36px;
  }
  /* TRENDS */
  section.trends {
    margin-top: 40px;
  }
  .trends-wrapper {
    flex-wrap: wrap;
  }
  .trend {
    width: 100%;
    height: 230px;
  }
  .trend:nth-child(n+2) {
    margin-left: 0;
  }

  .trend:nth-child(n+1) {
    margin-top: 3px;
  }
  /* PAGE */
    .page-container {
      flex-direction: column;
      padding: 0 15px;
    }

  /* MAIN */
  .main,
  .post-list {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
  }

  /* SIDEBAR */

  .sidebar {
    width: 100%;
    max-width: 100%;
    margin-top: 40px;
    margin-left: 0;
  }

  section.news,
  section.search,
  .searchfield-label,
  .subscribe-label,
  input.subscribe,
  .search-field,
  form.search-form {
    width: 100%;
    max-width: 100%;
  }

  section.subscribe {
    width: 100%;
    max-width: 100%;
  }
  form.subscribe-form {
    width: 100%;
    max-width: 100%;
  }
  button.subscribe {
    margin-top: 25px;
    max-width: 100%;
  } 

  /* categories */
  section.categories {
    margin-bottom: 40px;
  }

  li.categories {
    max-width: 100%;
  }

  /* SHOP */
  section.shop {
    flex-direction: column;
    margin-top: 0;
  }

  .shop-wrapper {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  .shop-item-wrapper {
    width: 100%;
    max-width: 100%;
  }
  .shop-item {
    width: 100%;
    max-width: 100%;
  }

  .shop-item:nth-child(2) {
    margin: 0;
  }
  .shop-item:nth-child(n+1) {
    margin-top: 25px;
  }

  .shop-item {
    flex-grow: 1;
  }
  .shop-item-picture {
    padding: 0 20px 20px;
  }

  .shop-item-image {
    padding-bottom: 50px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  /* TRENDS */
  .trends-wrapper {
    flex-wrap: wrap;
  }
  .trend {
    width: calc(50% - 3px);
  }
  .trend:nth-child(n+3) {
    margin-top: 3px;
  }
}